circle {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 10px;
    color: royalblue;
    display: flex;
}

table,th,td {
    border: 2px solid darkblue;
    margin: 0 auto;
    border-radius: 20px;
    padding: 15px;
    background-color: white;

}
table{
    background-color: royalblue;
}
.red {
   background-color: red;
}
.yellow {
    background-color: yellow;
}

div [id="cell"]{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 10px;
}




