

table,th,td {
    border: 2px solid ;
    margin: 0 auto;
    border-radius: 20px;
    padding: 15px;
    background-color: white;

}
table{
    background-color: coral;
}
.red {
   background-color: palevioletred;
}
.yellow {
    background-color: cornflowerblue;
}

div [id="cell"]{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 10px;
}




